@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800|Oswald:400,700|Playfair+Display:400,900&display=swap');
$mainPadding: 2rem;
$smallPadding: 1rem;
$highlight: rgb(193, 167, 122);
@media only screen and (max-width: 1200px) {
  .project-showcase {
    .showcase-img-container {
      .showcase-img {
        width: 50vw;
        height: 30vw;
      }
    }
  }

}
@media only screen and (max-width: 1000px) {
  html{
    font-size: 16px;
  }
  .project-showcase {
    .showcase-title {
      font-size: 1200%;
    }

    .showcase-img-container {
      height: 60%;
    }

    .showcase-text-container {
      height: 20%;
    }

    .showcase-dots {
      height: 20%;
    }
  }
  .project-detail {
    .detail-img-container{

      .detail-img {
        width: 60vw;
        height: 36vw;
      }
    }

  .detail-text-container{
    width: 60vw;
    min-height: 50%;

  }

  }
}
@media only screen and (max-width: 900px){
  .mobile-message{
    opacity: 1;
  }
}
@media only screen and (max-width: 700px) {
  html{
    font-size: 14px;
  }
  .project-showcase {
    .showcase-title {
      font-size: 1000%;
    }

    .showcase-img-container {
      height: 60%;
      .showcase-img{
        width: 60vw;
        height: 36vw;
      }
    }

    .showcase-text-container {
      height: 20%;
    }

    .showcase-dots {
      height: 20%;
    }
  }
  .project-detail {
    .detail-img-container{
      height: 40%;
      -webkit-box-pack: center;
              justify-content: center;
      .detail-img {
        width: 70vw;
        height: 42vw;
      }
    }

  .detail-text-container{
    width: 70vw;
    min-height: 60%;

  }

  }
}

@media only screen and (max-width:500px){
  header{
    .about {
      width: 75%;
      margin: 6rem auto 0;
      padding: $smallPadding;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: $mainPadding;

      .about-skills {
        grid-row: 1/2;

      }

      .about-contact {
        grid-row: 1/2;
        grid-column: 2/3;
      }

      .about-summary{
      grid-column: 1/3;
        grid-row: 2/3;
      }

      .about-detail {
        grid-column: 1/3;
        grid-row: 3/4;
      }
    }
  }
}
